
body{
    font-family: 'Rubik', sans-serif;
}
section{
   
    background-color: white;
    
 
}
.hero{
   background-image: url(https://cdn.dribbble.com/users/156849/screenshots/6993098/32.gif);
   background-repeat:repeat-y; 
   background-position: 12px;
  
   background-color: #2C0332;
   background-size: contain;
   height: 100vh;
    color:white;
    font-size: 40px;
 }
 
 nav{
     display: flex ;
     justify-content: space-between;
 }
 ul{
     display: flex;
     list-style-type: none;
     width: 450px;
     padding-right: 30px;
     padding-top: 22px;
     justify-content: space-between;
     font-size: 20px;
 }

 li{
    
     text-decoration: none;
 }
 h1{
     font-size: 90px;
     padding-left: 140px;
 }
 h2{
    font-size: 50px;
    color: white;
}

 p{
     margin: 0;
     font-size: 30px;
     font-weight: 300;
 }
 .subtext{
     font-size: 15px;
     font-weight: 300;
     padding:15px;
 }
 .hero-area{
     display: flex;
     height: 100%;
     justify-content: space-between;
     align-items: center;
 }
 .hero-text{
     margin-left: 80px;
     margin-bottom: 200px;
 }
 .button{
     width:200px;
     height: 55px;
     border-radius: 30px;
     text-align: center;
     background-color: coral;
     padding-top: 5px;
     font-size: 30px;
     font-weight: 300;
     margin-top: 20px;
 }
 .button:hover{
     background-color: #ef744b;
 }
 .button:active{
     background-color: #A9A9A9;
     color: #808080;
 }
 .socials{
     padding-bottom:200px ;
     padding-right: 40px;
 }
 .logo{
    height: 80px;
      margin: 30px;
 }
 .social{
     max-width: 20px;

 }
 .sub-section{
     display: flex;
     justify-content: space-around;
     padding: 80px;

 }
 .headshot{
     width: 300px; ;
     height: 300px;
     border-radius: 200px;
    
 }
 .headshot-container{
   padding-right: 100px;
   padding-bottom: 150px;
align-items: center;
 }
 .Project-card{
     width: 300px;
     height: 500px;
      background-color:white ;
    margin: 10px;
    border-radius: 40px;
     box-shadow: 2px 2px 20px rgb(72, 19, 93);
 }
 
 .project-container{
     display: flex;
     margin: 50px;
     justify-content: space-around;
 }
 @media only screen and (max-width:1000px){
     .project-container{
         display: flex;
         flex-wrap: wrap;
     }
 }
 .sub-section-alternative{
     display: flex;
     flex-direction: column;
     background-color: rgb(94, 23, 122);
     text-align: center;
 }
 .Project-image{
     margin-top: 25px;
     width : 200px;
     height: 200px;
    border-radius: 125px;

 }
 .Project-image1{
  margin-top: 25px;
  width : 210px;
  height: 210px;
 border-radius: 125px;
 }
 
 hr{
     margin-left: 20px;
     margin-right: 20px;
 }
 .Project-link{
    text-decoration:none;
     color:#ef744b ;
 }
a{
    text-decoration: none;
    color: white;
}

.hamburger{
   display:none ;
}
.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width:1000px) 
{
    .hamburger{
        display: block;
        border: 0;
  margin: 20px;
        color: white;
        font-size: 30px;
        align-self: flex-end;
    }
    ul{
        display: none;
        background-color: rgb(36, 36, 108);
        margin: 0ppx;
    }
    ul.show{
        display: block;
    }
    nav{
        display: flex;
        flex-direction: column-reverse;
     
        background-color: rgb(36, 36, 108);
    
    }
    .logo{
        display: none;
    }
}
.icon-list{
   align-items: center;
   margin: 50px;
   justify-content: space-around;
   margin-left: 445px;

}
@media only screen and (max-width:1000px){
    .icon-list>li{
        display: flex;
        flex-wrap: wrap;
    }
}
 .icon-list > li {
	border-radius: 100px;
	-webkit-border-radius: 100px;
	border-width: 2px;
	border-style: solid;
	cursor: pointer;
	display: inline-block;
	width: 50px;
    height: 50px;
    
	
	position: relative;
	padding: 12px;


}
.icon-list > li.facebook {
	border:none;
	color: white;
}

 .icon-list > li.facebook:hover {
	background: #3b5998;
}

 .icon-list > li a {
	color: inherit;
	line-height: 28px;
}

 .icon-list > li:hover > a {
	color: white;
}

 .icon-list > li.twitter {
	border:none;
	color: white;
}

 .icon-list > li.twitter:hover {
	background: #1da1f2;
}
.icon-list > li.linkedin{
	border:none;
	color: white;
}

 .icon-list > li.linkedin:hover {
	background: #1da1f2;
}

.icon-list > li.github {
	border:none;
    color: white;
}

 .icon-list > li.github:hover {
	background: rgb(68, 67, 67);
}

 .icon-list > li.email {
	border:none;
	color: white;
}

 .icon-list > li.email:hover {
	background: #67966a;
}

 .icon-list > li.resume {
	border:none;
	color: white;
}

 .icon-list > li.resume:hover {
	background:coral;
    
}

footer{
    padding-top:3px;
    padding-bottom: 3px;
    padding-left: 73px;
     background-color: black;
     color: white;
     text-align: center;
 }
 .prof{
     font-size: 25px;
     width: 800px;
     justify-content: space-between;
  
 }
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}
.Skill-set{
    padding-left: 90px;
    padding-right: 120px;
    padding-top: 50px;
    padding-bottom: 80px;
 
    background-color:rgb(94, 23, 122);
}

/* Container for skill bars */
.container {
  width: 50%; /* Full width */
  background-color: rgb(255, 255, 255); /* Grey background */
}
.skill-name{
    padding: 10px;
    font-size: 18px;
    color: white;
}
.skills {
   font-size: 14px;
  text-align: right; /* Right-align text */
  padding-right: 10px;
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */

}

.html {width: 90%; background-color: #c65833;} /* Green */
.css {width: 80%; background-color: #c65833;} /* Blue */
.js {width: 85%; background-color: #c65833;} /* Red */
.php {width: 60%; background-color: #c65833;} /* Dark Grey */
.ds {width: 80%; background-color: #c65833;} /* Green */
.algo {width: 70%; background-color: #c65833;} /* Green */

.education{
    background-color: rgb(94, 23, 122);
    padding: 100px;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  

/* Container around content */
.educon {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .educational-detail{
     font-size: 8sp;
  }
  .edu-head
  {
    text-align: center;
    font-size: 28sp;
  }
  
  /* The circles on the timeline */
  .educon::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color:white; 
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .educon {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .educon::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }

  


